REDIS_HOST=redis
REDIS_PORT=6379
X_API_KEY=7aab294f-92ed-4c37-b666-8223b34517a5
SCRAPING_REFERENCE_API=https://www.ifood.com.br/site-api/v1/merchants/restaurant
SCRAPING_RESOURCE=items
SCRAPING_CDN_RESOURCE=https://static.ifood-static.com.br/image/upload/t_high/pratos
